body{
    background-color: darkblue;
}
.basic{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: repeat(5,100px);
   gap: 10px;

}
.item{
    background-color: darkblue;
    border: solid 2px white;
    border-radius: 2px; 
    color: white;
    margin-top: 10px;
}
#item1{
    grid-column: 3 span;
    grid-row: 2 span;
}
#item3{
    grid-row: 2 span;
}
#item4{
    grid-row: 3 span;
}
#item8{
   grid-column: 3 span;
   grid-row: 2 span;
}

#item9{
    grid-column: 2 span;
    grid-row: 2 span;
}

